@font-face {
    font-family: 'nav';
    src: url("font/Chemins_Regular.ttf");
}

@font-face {
  font-family: 'test';
  src: url("font/Chemins_Serif.ttf");
}


.bs-sidenav {
    background-image: url("../img/grid11.png");
    background-repeat: repeat;
    font-family: 'nav';
    font-size: 13px;
  }

body {
    font-size: 16px;
    line-height: 1.7;
    /* background-color: rgb(255, 102, 102); */
    color: #000000;
    /* background-image: url("../img/grid11.png");
    background-repeat: repeat; */
    background: repeating-linear-gradient(90deg, transparent, transparent 4px, rgb(206, 206, 206) 1px,  rgb(206, 206, 206)5px), repeating-linear-gradient(0deg, transparent, transparent 4px,  rgb(206, 206, 206) 1px,  rgb(206, 206, 206)5px);
}
  
p > img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    border: solid 1px rgb(206, 206, 206);
}
b, strong {
  background-color: #fff56f;
  padding: 5px;
}

ul li {
  list-style:circle;
}

footer {
    display: none;
}

.navbar-default {
    background-color: rgb(232, 232, 232);
    border-bottom: 8px #ebf2f2 solid;
  }

  .navbar {
    font-size: 16px;
    font-weight: 300;
    border: 0;
    font-family: 'nav';
  }  
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #ff4747;
    font-family: 'nav';

  }

  .navbar-default {
    /* background-color: rgb(255, 145, 145); */
    border-bottom: #fff;
    border-bottom: solid 1px black;

  }

  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #ff7773;
    font-family: 'nav';

   
  }

  .navbar-default .navbar-nav > li > a {
    color: #090909;
    /* border-left: solid 1px black; */
    /* outline: solid 1px black; */
    font-family: 'nav';


    box-sizing: border-box;
  }

  .navbar-default .navbar-nav > li > a { 
          border-right: solid 1px black;
    /* outline: solid 1px black;
    box-sizing: border-box; */
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    /* background-color: rgb(218, 255, 169); */
    box-sizing: border-box;
    
  }

  .navbar-default .navbar-brand {
    color: #000;
  }

  .bs-sidebar .nav > li > a:hover, .bs-sidebar .nav > li > a:focus {
    text-decoration: none;
    border-right: 5px solid;
  }

  .bs-sidebar .nav > .active > a, .bs-sidebar .nav > .active:hover > a, .bs-sidebar .nav > .active:focus > a {
    font-weight: bold;
    background-color: transparent;
    border-right: 5px solid;
  }

  .nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    font-weight: 900;
    
  }

  h1, .h1 {
    font-size: 1.6em;
  }

  h2, .h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.2em;
    text-decoration: underline solid 1px black;
  }

  .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fafafa;
    border: 1px solid #000000;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  a:hover, a:focus {
    color: #000000;
    text-decoration: underline;
  }

  a {
    color: black;
    text-decoration: none;
  }

  div.col-md-9 a {
    color: black;
    text-decoration: underline dotted 1px;
  }

  div.col-md-9 a:hover {
    color: #ff4747;
    text-decoration: underline dotted 1px;
  }


  .navbar > .container .navbar-brand {
    /* margin-left: -15px; */
    font-family: 'nav';
    font-weight: 900;
    color: #ff4747;
    font-size: 20px;
  }

  div.col-md-9 {
    padding: 50px;
    border: solid 1px black;
  } 

  .bs-sidebar.affix {
    position: fixed;
    top: 45px;
    max-height: calc(100% - 180px);
    overflow-y: auto;
  }

  body {
    padding-top: 45px;
    font-family: 'nav';
    
  }

  div.col-md-9 {
    padding-bottom: 100px;
    border: solid 1px black;
    background: white;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'nav';
    color: rgb(0, 0, 0);
  }

  .bs-sidenav {
    background-image: none;
    font-family: 'nav';
    font-size: 13px;
    background-color: #fff56f;
    color: white;
    border-radius: 0px;
  }

  h1 {
    font-weight: 700;
    text-decoration: underline 3px;
    line-height: 1.5em; 
  }

  blockquote p{
    color: black;
    font-size: 16px;
line-height: 1.7;
    
  }

  blockquote {
    padding: 10.5px 21px;
    margin: 0 0 21px;
    border: 2px dotted #000;
    border-radius: 10px;
  }

  h2 {
    font-weight: 700;
    text-decoration: underline 2px;
  }

  .container {
    width: 1370px;
  }

  .navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    padding-right: 30%;
  }